<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marketing.system.mapper_two.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.marketing.system.entity.Group" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="departmentId" property="departmentid" jdbcType="INTEGER" />
    <result column="squadId" property="squadid" jdbcType="INTEGER" />
    <result column="squad" property="squad" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, departmentId, squadId, squad
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getGroup" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from projectManage.dbo.[group]
    where departmentId = #{departmentid,jdbcType=INTEGER}
  </select>

  <select id="getGroupNo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from projectManage.dbo.[group]
  </select>

  <select id="getGroupBySquadId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from projectManage.dbo.[group]
    where squadId = #{squadId,jdbcType=INTEGER}
  </select>

  <select id="getSquadId" resultType="java.util.HashMap" >
    SELECT DISTINCT
    squadId
    FROM
    projectManage.dbo.[group]
    WHERE
    departmentId = #{departmentid}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.marketing.system.entity.Group" >
    insert into group (departmentId, squadId,
      squad)
    values (#{departmentid,jdbcType=INTEGER}, #{squadid,jdbcType=INTEGER},
      #{squad,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.marketing.system.entity.Group" >
    insert into group
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="departmentid != null" >
        departmentId,
      </if>
      <if test="squadid != null" >
        squadId,
      </if>
      <if test="squad != null" >
        squad,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="squadid != null" >
        #{squadid,jdbcType=INTEGER},
      </if>
      <if test="squad != null" >
        #{squad,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.marketing.system.entity.Group" >
    update group
    <set >
      <if test="departmentid != null" >
        departmentId = #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="squadid != null" >
        squadId = #{squadid,jdbcType=INTEGER},
      </if>
      <if test="squad != null" >
        squad = #{squad,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marketing.system.entity.Group" >
    update group
    set departmentId = #{departmentid,jdbcType=INTEGER},
      squadId = #{squadid,jdbcType=INTEGER},
      squad = #{squad,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>