<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marketing.system.mapper_two.ProjectTaskMapper" >
  <resultMap id="BaseResultMap" type="com.marketing.system.entity.ProjectTask" >
    <id column="taskId" property="taskId" jdbcType="INTEGER" />
    <result column="proId" property="proid" jdbcType="INTEGER" />
    <result column="squadId" property="squadId" jdbcType="VARCHAR" />
    <result column="taskName" property="taskname" jdbcType="VARCHAR" />
    <result column="sDate" property="sdate" jdbcType="VARCHAR" />
    <result column="eDate" property="edate" jdbcType="VARCHAR" />
    <result column="taskState" property="taskstate" jdbcType="VARCHAR" />
    <result column="taskProgress" property="taskprogress" jdbcType="VARCHAR" />
    <result column="taskLogRecordId" property="tasklogrecordid" jdbcType="INTEGER" />
    <result column="taskDevelopLogId" property="taskdeveloplogid" jdbcType="INTEGER" />
    <result column="handler" property="handler" jdbcType="VARCHAR" />
    <result column="workDate" property="workDate" jdbcType="VARCHAR" />
    <result column="idd" property="idd" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    taskId, proId, squadId, taskName, sDate, eDate, taskState, taskProgress, taskLogRecordId,
    taskDevelopLogId,handler,workDate,idd,createDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </select>

  <select id="getMyJoinProject" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    COUNT (taskId)
    from project_task
    where handler = #{name}
  </select>

  <select id="selectMaxProId" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    MAX (proId)
    from project_task
  </select>

  <select id="getProjectTaskList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from project_task
    WHERE proId = #{proId}
  </select>

  <select id="getProjectTaskListMap" resultType="java.util.HashMap" parameterType="java.lang.Integer" >
    select
    taskId, proId,taskName,handler
    from project_task
    WHERE proId = #{proId}
  </select>

  <select id="getproIdByTaskId" resultType="java.util.HashMap">
    SELECT DISTINCT
    proId
    FROM
    project_task
    WHERE
    <foreach item="item" index="index" collection="menuLeafIds"
             open=" taskId IN (" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.marketing.system.entity.ProjectTask" >
    insert into project_task (taskId, proId, squadId,
      taskName, sDate, eDate, 
      taskState, taskProgress,
      taskLogRecordId, taskDevelopLogId,handler,workDate,idd,createDate)
    values (#{taskId,jdbcType=INTEGER}, #{proid,jdbcType=INTEGER}, #{squadId,jdbcType=VARCHAR},
      #{taskname,jdbcType=VARCHAR}, #{sdate,jdbcType=VARCHAR}, #{edate,jdbcType=VARCHAR}, 
      #{taskstate,jdbcType=VARCHAR}, #{taskprogress,jdbcType=VARCHAR},
      #{tasklogrecordid,jdbcType=INTEGER}, #{taskdeveloplogid,jdbcType=INTEGER},#{handler,jdbcType=VARCHAR},
      #{workDate,jdbcType=VARCHAR},#{idd,jdbcType=INTEGER},#{createDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.marketing.system.entity.ProjectTask" >

    insert into project_task
    <trim prefix="(" suffix=")" suffixOverrides="," >

        taskId,

      <if test="proid != null" >
        proId,
      </if>
      <if test="squadId != null" >
        squadId,
      </if>
      <if test="taskname != null" >
        taskName,
      </if>
      <if test="sdate != null" >
        sDate,
      </if>
      <if test="edate != null" >
        eDate,
      </if>
      <if test="taskstate != null" >
        taskState,
      </if>
      <if test="taskprogress != null" >
        taskProgress,
      </if>

      <if test="tasklogrecordid != null" >
        taskLogRecordId,
      </if>
      <if test="taskdeveloplogid != null" >
        taskDevelopLogId,
      </if>
      <if test="handler != null" >
        handler,
      </if>
      <if test="workDate != null" >
        workDate,
      </if>
      <if test="idd != null" >
        idd,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

        #{taskId,jdbcType=INTEGER},

      <if test="proid != null" >
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="squad != null" >
        #{squadId,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null" >
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="taskprogress != null" >
        #{taskprogress,jdbcType=VARCHAR},
      </if>

      <if test="tasklogrecordid != null" >
        #{tasklogrecordid,jdbcType=INTEGER},
      </if>
      <if test="taskdeveloplogid != null" >
        #{taskdeveloplogid,jdbcType=INTEGER},
      </if>
      <if test="handler != null" >
        #{handler,jdbcType=VARCHAR},
      </if>

      <if test="workDate != null" >
        #{workDate,jdbcType=VARCHAR},
      </if>
      <if test="idd != null" >
        #{idd,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>

    </trim>

  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.marketing.system.entity.ProjectTask" >
    update project_task
    <set >
      <if test="proid != null" >
        proId = #{proid,jdbcType=INTEGER},
      </if>
      <if test="squad != null" >
        squadId = #{squadId,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null" >
        taskName = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        sDate = #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        eDate = #{edate,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        taskState = #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="taskprogress != null" >
        taskProgress = #{taskprogress,jdbcType=VARCHAR},
      </if>

      <if test="tasklogrecordid != null" >
        taskLogRecordId = #{tasklogrecordid,jdbcType=INTEGER},
      </if>
      <if test="taskdeveloplogid != null" >
        taskDevelopLogId = #{taskdeveloplogid,jdbcType=INTEGER},
      </if>
      <if test="handler != null" >
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        workDate = #{workDate,jdbcType=VARCHAR},
      </if>
      <if test="idd != null" >
        idd = #{idd,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=VARCHAR},
      </if>

    </set>
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marketing.system.entity.ProjectTask" >
    update project_task
    set proId = #{proid,jdbcType=INTEGER},
      squadId = #{squadId,jdbcType=VARCHAR},
      taskName = #{taskname,jdbcType=VARCHAR},
      sDate = #{sdate,jdbcType=VARCHAR},
      eDate = #{edate,jdbcType=VARCHAR},
      taskState = #{taskstate,jdbcType=VARCHAR},
      taskProgress = #{taskprogress,jdbcType=VARCHAR},
      taskLogRecordId = #{tasklogrecordid,jdbcType=INTEGER},
      taskDevelopLogId = #{taskdeveloplogid,jdbcType=INTEGER},
      handler = #{handler,jdbcType=VARCHAR},
      workDate = #{workDate,jdbcType=VARCHAR}
      idd = #{idd,jdbcType=INTEGER}
      createDate = #{createDate,jdbcType=VARCHAR}

    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>