<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marketing.system.mapper_two.ProjectSubtaskMapper" >
  <resultMap id="BaseResultMap" type="com.marketing.system.entity.ProjectSubtask" >
    <id column="subtaskId" property="subtaskId" jdbcType="INTEGER" />
    <result column="taskId" property="taskid" jdbcType="INTEGER" />
    <result column="subtaskName" property="subtaskname" jdbcType="VARCHAR" />
    <result column="sDate" property="sdate" jdbcType="VARCHAR" />
    <result column="eDate" property="edate" jdbcType="VARCHAR" />
    <result column="subtaskState" property="subtaskstate" jdbcType="VARCHAR" />
    <result column="subtaskProgress" property="subtaskprogress" jdbcType="VARCHAR" />
    <result column="subtaskHandler" property="subtaskhandler" jdbcType="VARCHAR" />
    <result column="subtaskLogRecordId" property="subtasklogrecordid" jdbcType="INTEGER" />
    <result column="subtaskDevelopLogId" property="subtaskdeveloplogid" jdbcType="INTEGER" />
    <result column="idd" property="idd" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="VARCHAR" />
    <result column="workDate" property="workDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    subtaskId, taskId, subtaskName, sDate, eDate, subtaskState, subtaskProgress, subtaskHandler,
    subtaskLogRecordId, subtaskDevelopLogId, idd,createDate,workDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_subtask
    where subtaskId = #{subtaskId,jdbcType=INTEGER}
  </select>

  <select id="getMyJoinProject" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    COUNT (subtaskId)
    from project_subtask
    where subtaskHandler = #{name}
  </select>

  <select id="getSubTaskIdByHander" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
    subtaskId,taskId,subtaskHandler
    from project_subtask
    where subtaskHandler = #{subtaskhandler}
  </select>

  <select id="getProjectSubtaskList" resultType="java.util.HashMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    project_subtask
    WHERE
    taskId = #{taskId,jdbcType=INTEGER}
  </select>

  <select id="getSubTaskListMap" resultType="java.util.HashMap">
    SELECT DISTINCT
    subtaskId, taskId, subtaskName
    FROM
    project_subtask
    WHERE
    <foreach item="item" index="index" collection="menuLeafIds"
             open=" taskId IN (" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_subtask
    where subtaskId = #{subtaskId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteSubTaskById" parameterType="java.lang.Integer" >
    delete from project_subtask
    where taskId = #{taskId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.marketing.system.entity.ProjectSubtask" >
    insert into project_subtask (taskId,
      subtaskName, sDate, eDate, 
      subtaskState, subtaskProgress, subtaskHandler, 
      subtaskLogRecordId, subtaskDevelopLogId, 
      idd,createDate,workDate)
    values (#{taskid,jdbcType=INTEGER},
      #{subtaskname,jdbcType=VARCHAR}, #{sdate,jdbcType=VARCHAR}, #{edate,jdbcType=VARCHAR}, 
      #{subtaskstate,jdbcType=VARCHAR}, #{subtaskprogress,jdbcType=VARCHAR}, #{subtaskhandler,jdbcType=VARCHAR}, 
      #{subtasklogrecordid,jdbcType=INTEGER}, #{subtaskdeveloplogid,jdbcType=INTEGER}, 
      #{idd,jdbcType=INTEGER},#{createDate,jdbcType=VARCHAR},#{workDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.marketing.system.entity.ProjectSubtask" >
    insert into project_subtask
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="taskid != null" >
        taskId,
      </if>
      <if test="subtaskname != null" >
        subtaskName,
      </if>
      <if test="sdate != null" >
        sDate,
      </if>
      <if test="edate != null" >
        eDate,
      </if>
      <if test="subtaskstate != null" >
        subtaskState,
      </if>
      <if test="subtaskprogress != null" >
        subtaskProgress,
      </if>
      <if test="subtaskhandler != null" >
        subtaskHandler,
      </if>
      <if test="subtasklogrecordid != null" >
        subtaskLogRecordId,
      </if>
      <if test="subtaskdeveloplogid != null" >
        subtaskDevelopLogId,
      </if>
      <if test="subtaskid != null" >
        subtaskId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="taskid != null" >
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="subtaskname != null" >
        #{subtaskname,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=VARCHAR},
      </if>
      <if test="subtaskstate != null" >
        #{subtaskstate,jdbcType=VARCHAR},
      </if>
      <if test="subtaskprogress != null" >
        #{subtaskprogress,jdbcType=VARCHAR},
      </if>
      <if test="subtaskhandler != null" >
        #{subtaskhandler,jdbcType=VARCHAR},
      </if>
      <if test="subtasklogrecordid != null" >
        #{subtasklogrecordid,jdbcType=INTEGER},
      </if>
      <if test="subtaskdeveloplogid != null" >
        #{subtaskdeveloplogid,jdbcType=INTEGER},
      </if>
      <if test="subtaskid != null" >
        #{subtaskid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.marketing.system.entity.ProjectSubtask" >
    update project_subtask
    <set >
      <if test="taskid != null" >
        taskId = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="subtaskname != null" >
        subtaskName = #{subtaskname,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        sDate = #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        eDate = #{edate,jdbcType=VARCHAR},
      </if>
      <if test="subtaskstate != null" >
        subtaskState = #{subtaskstate,jdbcType=VARCHAR},
      </if>
      <if test="subtaskprogress != null" >
        subtaskProgress = #{subtaskprogress,jdbcType=VARCHAR},
      </if>
      <if test="subtaskhandler != null" >
        subtaskHandler = #{subtaskhandler,jdbcType=VARCHAR},
      </if>
      <if test="subtasklogrecordid != null" >
        subtaskLogRecordId = #{subtasklogrecordid,jdbcType=INTEGER},
      </if>
      <if test="subtaskdeveloplogid != null" >
        subtaskDevelopLogId = #{subtaskdeveloplogid,jdbcType=INTEGER},
      </if>
      <if test="subtaskid != null" >
        subtaskId = #{subtaskid,jdbcType=INTEGER},
      </if>
    </set>
    where subtaskId = #{subtaskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marketing.system.entity.ProjectSubtask" >
    update project_subtask
    set taskId = #{taskid,jdbcType=INTEGER},
      subtaskName = #{subtaskname,jdbcType=VARCHAR},
      sDate = #{sdate,jdbcType=VARCHAR},
      eDate = #{edate,jdbcType=VARCHAR},
      subtaskState = #{subtaskstate,jdbcType=VARCHAR},
      subtaskProgress = #{subtaskprogress,jdbcType=VARCHAR},
      subtaskHandler = #{subtaskhandler,jdbcType=VARCHAR},
      subtaskLogRecordId = #{subtasklogrecordid,jdbcType=INTEGER},
      subtaskDevelopLogId = #{subtaskdeveloplogid,jdbcType=INTEGER},
      subtaskId = #{subtaskid,jdbcType=INTEGER}
    where subtaskId = #{subtaskId,jdbcType=INTEGER}
  </update>
</mapper>