<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marketing.system.mapper_two.ProjectInfoMapper">
    <resultMap id="BaseResultMap" type="com.marketing.system.entity.ProjectInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="proId" property="proid" jdbcType="VARCHAR"/>
        <result column="proName" property="proname" jdbcType="VARCHAR"/>
        <result column="proType" property="protype" jdbcType="VARCHAR"/>
        <result column="planSDate" property="plansdate" jdbcType="VARCHAR"/>
        <result column="planEDate" property="planedate" jdbcType="VARCHAR"/>
        <result column="proDeclare" property="prodeclare" jdbcType="VARCHAR"/>
        <result column="proFilePath" property="profilepath" jdbcType="VARCHAR"/>
        <result column="createDate" property="createdate" jdbcType="VARCHAR"/>
        <result column="proState" property="prostate" jdbcType="VARCHAR"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="proLogRecordId" property="prologrecordid" jdbcType="INTEGER"/>
        <result column="proDevelopLogId" property="prodeveloplogid" jdbcType="INTEGER"/>
        <result column="proProgress" property="proprogress" jdbcType="VARCHAR"/>
        <result column="createrSquadId" property="createrSquadId" jdbcType="VARCHAR"/>
        <result column="betweenDays" property="betweenDays" jdbcType="INTEGER"/>
        <result column="finishDate" property="finishDate" jdbcType="VARCHAR"/>
        <result column="onlineDate" property="onlineDate" jdbcType="VARCHAR"/>
        <result column="rejectDate" property="rejectDate" jdbcType="VARCHAR"/>
        <result column="cancelDate" property="cancelDate" jdbcType="VARCHAR"/>
        <result column="againState" property="againState" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="java.util.HashMap" id="taskHashMap">
        <result column="taskId" property="taskId" jdbcType="INTEGER"/>
        <result column="proId" property="proid" jdbcType="INTEGER"/>
        <result column="squadId" property="squadid" jdbcType="INTEGER"/>
        <result column="taskName" property="taskname" jdbcType="VARCHAR"/>
        <result column="sDate" property="sdate" jdbcType="VARCHAR"/>
        <result column="eDate" property="edate" jdbcType="VARCHAR"/>
        <result column="taskState" property="taskstate" jdbcType="VARCHAR"/>
        <result column="taskProgress" property="taskprogress" jdbcType="VARCHAR"/>
        <result column="taskLogRecordId" property="tasklogrecordid" jdbcType="INTEGER"/>
        <result column="taskDevelopLogId" property="taskdeveloplogid" jdbcType="INTEGER"/>
        <result column="handler" property="handler" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, proId, proName, proType, planSDate, planEDate, proDeclare, proFilePath,
    createDate, proState, creater, proLogRecordId, proDevelopLogId, proProgress,
    createrSquadId,betweenDays,finishDate,onlineDate,rejectDate,cancelDate,againState
  </sql>

    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <!--<if test="creater != null and creater != '' ">-->
            creater = #{creater}
            <!--</if>-->
        </trim>
    </sql>

    <sql id="searchByTask">
        <trim prefix="where" prefixOverrides="and|or">
            info.creater = #{creater}
        </trim>
    </sql>

    <sql id="searchBySubTask">
        <trim prefix="where" prefixOverrides="and|or">
            task.subtaskHandler = #{creater}
        </trim>
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from project_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getMyApplyProject" resultType="java.lang.Integer" parameterType="java.lang.String">
  select
  COUNT (creater)
  from project_info
  where creater = #{creater} AND proState IN (1,2,3,7)
</select>

    <select id="getUpApplyProject" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    COUNT (id)
    from project_info
    WHERE  proState = #{prostate}
  </select>

    <select id="getProjectInfoList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        id,proId,proName,planSDate,creater,proProgress
        from project_info
        <include refid="searchBy"/>
    </select>
    <select id="getProjectInfoListNull" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    id,proId,proName,planSDate,creater,proProgress
    from project_info

  </select>

    <select id="getProjectTaskList" resultMap="taskHashMap" parameterType="java.lang.String">
        select
        task.taskId,task.proId,task.taskName,task.eDate,task.handler,task.taskProgress
        from project_task task where task.proId in (select proId from project_info WHERE creater = #{creater})
    </select>
    <select id="getProjectTaskListNull" resultMap="taskHashMap" parameterType="java.lang.String">
        select
        task.taskId,task.proId,task.taskName,task.eDate,task.handler,task.taskProgress
        from project_task task where task.proId in (select proId from project_info)
  </select>

    <select id="getProjectSubTaskList" resultType="com.marketing.system.entity.ProjectSubtask"
            parameterType="java.lang.String">
        select
        task.subtaskId,task.taskId,task.subtaskName,task.eDate,task.subtaskHandler,task.subtaskProgress
        from project_subtask task
        JOIN project_task info ON task.taskId = info.taskId

        <include refid="searchBySubTask"/>
    </select>
    <select id="getProjectSubTaskListNull" resultType="com.marketing.system.entity.ProjectSubtask"
            parameterType="java.lang.String">
    select
    task.subtaskId,task.taskId,task.subtaskName,task.eDate,task.subtaskHandler,task.subtaskProgress
    from project_subtask task
    JOIN project_task info ON task.taskId = info.taskId

  </select>


    <sql id="searchByAll">


        <if test="createrSquadId != null and createrSquadId != '' ">
            AND createrSquadId = #{createrSquadId}
        </if>

        <if test="creater != null and creater != '' ">
            AND creater = #{creater}
        </if>
        AND createDate >= #{createDateStart} AND #{createDateEnd} >=createDate
        AND planSDate >= #{planSDateStart} AND #{planSDateEnd} > =planSDate

        <if test="proType != null and proType != '' ">
            AND proType = #{proType}
        </if>
        AND proName LIKE '%${proName}%'

        <if test="proState != null and proState != '' ">
            AND proState = #{proState}
        </if>

    </sql>

    <select id="getProjectInfoListAll" resultMap="BaseResultMap">
        SELECT
        TOP ${pageSize}
        <include refid="Base_Column_List"/>
        from project_info

        where id
        IN(SELECT TOP (${current}*${pageSize}) id FROM project_info)
        <if test="createrSquadId != null and createrSquadId != '' ">
            AND createrSquadId = #{createrSquadId}
        </if>

        <if test="creater != null and creater != '' ">
            AND creater = #{creater}
        </if>
        AND createDate >= #{createDateStart} AND #{createDateEnd} >=createDate
        AND planSDate >= #{planSDateStart} AND #{planSDateEnd} > =planSDate
        <if test="proType != null and proType != '' ">
            AND proType = #{proType}
        </if>
        AND proName LIKE '%${proName}%'
        <if test="proState != null and proState != '' ">
            AND proState = #{proState}
        </if>
        ORDER BY createDate DESC
    </select>

    <select id="getMyProjectInfoList" resultMap="BaseResultMap">
        SELECT
        TOP ${pageSize}
        <include refid="Base_Column_List"/>
        from project_info

        where id
        IN(SELECT TOP (${current}*${pageSize}) id FROM project_info)
        <if test="createrSquadId != null and createrSquadId != '' ">
            AND createrSquadId = #{createrSquadId}
        </if>

        <if test="creater != null and creater != '' ">
            AND creater = #{creater}
        </if>
        AND createDate >= #{createDateStart} AND #{createDateEnd} >=createDate
        AND planSDate >= #{planSDateStart} AND #{planSDateEnd} > =planSDate
        <if test="proType != null and proType != '' ">
            AND proType = #{proType}
        </if>
        AND proName LIKE '%${proName}%'
        <if test="proState != null and proState != '' ">
            AND proState = #{proState}
        </if>
        ORDER BY
        case proState
        when 7 then 1
        end
        DESC,createDate DESC
    </select>

    <!-- 查询立项待审批列表总数 测试 -->
    <select id="sumAll" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
    COUNT(id)
    from project_info
    WHERE proState = #{proState}
  </select>

    <select id="getCreaterByName" resultType="java.lang.String" parameterType="java.lang.String">
  SELECT
  creater
  from project_info
  WHERE creater = #{creater}
  </select>

    <select id="getProjectByHanderMap" resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>
        FROM
        project_info
        WHERE
        <foreach item="item" index="index" collection="menuLeafIds"
                 open=" creater IN (" separator="," close=")">
            #{item}
        </foreach>
        <if test="createrSquadId != null and createrSquadId != '' ">
            AND createrSquadId = #{createrSquadId}
        </if>
        AND createDate >= #{createDateStart} AND #{createDateEnd} >=createDate
        AND planSDate >= #{planSDateStart} AND #{planSDateEnd} > =planSDate
        <if test="proType != null and proType != '' ">
            AND proType = #{proType}
        </if>
        AND proName LIKE '%${proName}%'
        <if test="proState != null and proState != '' ">
            AND proState = #{proState}
        </if>
        <if test="proState == null or proState == '' ">
            AND proState IN (1,2,3,7)
        </if>
    </select>

    <select id="getProjectByHanderMapFinish" resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>
        FROM
        project_info
        WHERE
        <foreach item="item" index="index" collection="menuLeafIds"
                 open=" creater IN (" separator="," close=")">
            #{item}
        </foreach>
        AND proState = 4
    </select>

    <select id="getProjectByProId" resultType="java.util.HashMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>
        FROM
        project_info
        WHERE
        <foreach item="item" index="index" collection="menuLeafIds"
                 open=" proId IN (" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="getgetMyProjectInfoListByProId" resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>
        FROM
        project_info
        WHERE
        <foreach item="item" index="index" collection="menuLeafIds"
                 open=" proId IN (" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getMyJoinProject" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    COUNT (id)
    from project_info
    where creater = #{name}
  </select>


    <select id="getAllProjectSize" resultType="java.lang.Integer">
    select
    COUNT (id)
    from project_info
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.marketing.system.entity.ProjectInfo">
    insert into project_info (proId, proName,
      proType, planSDate, planEDate, 
      proDeclare, proFilePath,
      createDate, proState, creater, 
      proLogRecordId, proDevelopLogId,
      proProgress, createrSquadId,finishDate,onlineDate,rejectDate,cancelDate)
    values (#{proid,jdbcType=VARCHAR}, #{proname,jdbcType=VARCHAR},
      #{protype,jdbcType=VARCHAR}, #{plansdate,jdbcType=VARCHAR}, #{planedate,jdbcType=VARCHAR}, 
      #{prodeclare,jdbcType=VARCHAR}, #{profilepath,jdbcType=VARCHAR},
      #{createdate,jdbcType=VARCHAR}, #{prostate,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{prologrecordid,jdbcType=INTEGER}, #{prodeveloplogid,jdbcType=INTEGER},
      #{proprogress,jdbcType=VARCHAR}, #{createrSquadId,jdbcType=VARCHAR},#{finishDate,jdbcType=VARCHAR},#{onlineDate,jdbcType=VARCHAR},
      #{rejectDate,jdbcType=VARCHAR},#{cancelDate,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.marketing.system.entity.ProjectInfo">
        insert into project_info

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="proid != null">
                proId,
            </if>
            <if test="proname != null">
                proName,
            </if>
            <if test="protype != null">
                proType,
            </if>
            <if test="plansdate != null">
                planSDate,
            </if>
            <if test="planedate != null">
                planEDate,
            </if>
            <if test="prodeclare != null">
                proDeclare,
            </if>
            <if test="profilepath != null">
                proFilePath,
            </if>
            <if test="createdate != null">
                createDate,
            </if>
            <if test="prostate != null">
                proState,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="prologrecordid != null">
                proLogRecordId,
            </if>
            <if test="prodeveloplogid != null">
                proDevelopLogId,
            </if>
            <if test="proprogress != null">
                proProgress,
            </if>
            <if test="createrSquadId != null">
                createrSquadId,
            </if>
            <if test="onlineDate != null">
                onlineDate,
            </if>

            <if test="finishDate != null">
                finishDate,
            </if>
            <if test="rejectDate != null">
                rejectDate,
            </if>
            <if test="cancelDate != null">
                cancelDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="proid != null">
                #{proid,jdbcType=VARCHAR},
            </if>
            <if test="proname != null">
                #{proname,jdbcType=VARCHAR},
            </if>
            <if test="protype != null">
                #{protype,jdbcType=VARCHAR},
            </if>
            <if test="plansdate != null">
                #{plansdate,jdbcType=VARCHAR},
            </if>
            <if test="planedate != null">
                #{planedate,jdbcType=VARCHAR},
            </if>
            <if test="prodeclare != null">
                #{prodeclare,jdbcType=VARCHAR},
            </if>
            <if test="profilepath != null">
                #{profilepath,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=VARCHAR},
            </if>
            <if test="prostate != null">
                #{prostate,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="prologrecordid != null">
                #{prologrecordid,jdbcType=INTEGER},
            </if>
            <if test="prodeveloplogid != null">
                #{prodeveloplogid,jdbcType=INTEGER},
            </if>
            <if test="proprogress != null">
                #{proprogress,jdbcType=VARCHAR},
            </if>
            <if test="createrSquadId != null">
                #{createrSquadId,jdbcType=VARCHAR},
            </if>
            <if test="onlineDate != null">
                #{onlineDate,jdbcType=VARCHAR},
            </if>
            <if test="finishDate != null">
                #{finishDate,jdbcType=VARCHAR},
            </if>
            <if test="rejectDate != null">
                #{rejectDate,jdbcType=VARCHAR},
            </if>
            <if test="cancelDate != null">
                #{cancelDate,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="setPassOrReject22" parameterType="com.marketing.system.entity.ProjectInfo">
        update project_info
        <set>
            <if test="proid != null">
                proId = #{proid,jdbcType=VARCHAR},
            </if>
            <if test="proname != null">
                proName = #{proname,jdbcType=VARCHAR},
            </if>
            <if test="protype != null">
                proType = #{protype,jdbcType=VARCHAR},
            </if>
            <if test="plansdate != null">
                planSDate = #{plansdate,jdbcType=VARCHAR},
            </if>
            <if test="planedate != null">
                planEDate = #{planedate,jdbcType=VARCHAR},
            </if>
            <if test="prodeclare != null">
                proDeclare = #{prodeclare,jdbcType=VARCHAR},
            </if>

            <if test="profilepath != null">
                proFilePath = #{profilepath,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                createDate = #{createdate,jdbcType=VARCHAR},
            </if>
            <if test="prostate != null">
                proState = #{prostate,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="prologrecordid != null">
                proLogRecordId = #{prologrecordid,jdbcType=INTEGER},
            </if>
            <if test="prodeveloplogid != null">
                proDevelopLogId = #{prodeveloplogid,jdbcType=INTEGER},
            </if>

            <if test="proprogress != null">
                proProgress = #{proprogress,jdbcType=VARCHAR},
            </if>
            <if test="createrSquadId != null">
                createrSquad = #{createrSquad,jdbcType=VARCHAR},
            </if>
            <if test="onlineDate != null">
                onlineDate = #{onlineDate,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


  <update id="setPassOrReject" parameterType="com.marketing.system.entity.ProjectInfo">
    update project_info
    set
    proState = #{proState},finishDate = #{finishDate}
    where id = #{id}
  </update>

  <update id="setPassOrRejectTwo" parameterType="com.marketing.system.entity.ProjectInfo">
    update project_info
    set
    proState = #{proState},finishDate = #{finishDate},againState = #{againState}
    where id = #{id}
</update>



    <update id="updateByPrimaryKey" parameterType="com.marketing.system.entity.ProjectInfo">
    update project_info
    set proId = #{proid,jdbcType=VARCHAR},
      proName = #{proname,jdbcType=VARCHAR},
      proType = #{protype,jdbcType=VARCHAR},
      planSDate = #{plansdate,jdbcType=VARCHAR},
      planEDate = #{planedate,jdbcType=VARCHAR},
      proDeclare = #{prodeclare,jdbcType=VARCHAR},

      proFilePath = #{profilepath,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=VARCHAR},
      proState = #{prostate,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      proLogRecordId = #{prologrecordid,jdbcType=INTEGER},
      proDevelopLogId = #{prodeveloplogid,jdbcType=INTEGER},
      proProgress = #{proprogress,jdbcType=VARCHAR},
      createrSquadId = #{createrSquad,jdbcType=VARCHAR}
      onlineDate = #{onlineDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.marketing.system.entity.ProjectInfo">
    update project_info
    set
    proProgress = #{proprogress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByPrimaryKeySelectiveState22" parameterType="com.marketing.system.entity.ProjectInfo">
    update project_info
    set
    proState = #{prostate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByPrimaryKeySelectiveState" parameterType="com.marketing.system.entity.ProjectInfo">
        update project_info
        <set>
            <if test="proid != null">
                proId = #{proid,jdbcType=VARCHAR},
            </if>
            <if test="proname != null">
                proName = #{proname,jdbcType=VARCHAR},
            </if>
            <if test="protype != null">
                proType = #{protype,jdbcType=VARCHAR},
            </if>
            <if test="plansdate != null">
                planSDate = #{plansdate,jdbcType=VARCHAR},
            </if>
            <if test="planedate != null">
                planEDate = #{planedate,jdbcType=VARCHAR},
            </if>
            <if test="prodeclare != null">
                proDeclare = #{prodeclare,jdbcType=VARCHAR},
            </if>

            <if test="profilepath != null">
                proFilePath = #{profilepath,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                createDate = #{createdate,jdbcType=VARCHAR},
            </if>
            <if test="prostate != null">
                proState = #{prostate,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="prologrecordid != null">
                proLogRecordId = #{prologrecordid,jdbcType=INTEGER},
            </if>
            <if test="prodeveloplogid != null">
                proDevelopLogId = #{prodeveloplogid,jdbcType=INTEGER},
            </if>

            <if test="proprogress != null">
                proProgress = #{proprogress,jdbcType=VARCHAR},
            </if>
            <if test="createrSquadId != null">
                createrSquad = #{createrSquad,jdbcType=VARCHAR},
            </if>
            <if test="onlineDate != null">
                onlineDate = #{onlineDate,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>