<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marketing.system.mapper.ProLogRecordMapper" >
  <resultMap id="BaseResultMap" type="com.marketing.system.entity.ProLogRecord" >
    <id column="proLogRecordId" property="prologrecordid" jdbcType="INTEGER" />
    <result column="proId" property="proid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="Date" property="date" jdbcType="VARCHAR" />
    <result column="squadId" property="squadid" jdbcType="INTEGER" />
    <result column="Emp" property="emp" jdbcType="VARCHAR" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="filePath" property="filepath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    proLogRecordId, proId, type, Date, squadId, Emp, explain, filePath
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_LogRecord
    where proLogRecordId = #{prologrecordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_LogRecord
    where proLogRecordId = #{prologrecordid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.marketing.system.entity.ProLogRecord" >
    insert into pro_LogRecord (proLogRecordId, proId, type, 
      Date, squadId, Emp, 
      explain, filePath)
    values (#{prologrecordid,jdbcType=INTEGER}, #{proid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{squadid,jdbcType=INTEGER}, #{emp,jdbcType=VARCHAR}, 
      #{explain,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.marketing.system.entity.ProLogRecord" >
    insert into pro_LogRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prologrecordid != null" >
        proLogRecordId,
      </if>
      <if test="proid != null" >
        proId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="date != null" >
        Date,
      </if>
      <if test="squadid != null" >
        squadId,
      </if>
      <if test="emp != null" >
        Emp,
      </if>
      <if test="explain != null" >
        explain,
      </if>
      <if test="filepath != null" >
        filePath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prologrecordid != null" >
        #{prologrecordid,jdbcType=INTEGER},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="squadid != null" >
        #{squadid,jdbcType=INTEGER},
      </if>
      <if test="emp != null" >
        #{emp,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.marketing.system.entity.ProLogRecord" >
    update pro_LogRecord
    <set >
      <if test="proid != null" >
        proId = #{proid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        Date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="squadid != null" >
        squadId = #{squadid,jdbcType=INTEGER},
      </if>
      <if test="emp != null" >
        Emp = #{emp,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filePath = #{filepath,jdbcType=VARCHAR},
      </if>
    </set>
    where proLogRecordId = #{prologrecordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marketing.system.entity.ProLogRecord" >
    update pro_LogRecord
    set proId = #{proid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      Date = #{date,jdbcType=VARCHAR},
      squadId = #{squadid,jdbcType=INTEGER},
      Emp = #{emp,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=VARCHAR},
      filePath = #{filepath,jdbcType=VARCHAR}
    where proLogRecordId = #{prologrecordid,jdbcType=INTEGER}
  </update>
</mapper>